*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-logo: "Dancing Script", serif;
    --ff-content: "Raleway", sans-serif;

    --clr-icons: #929292;
    --clr-text: #ebebeb;
    --clr-bg-dark: #242424;
    --clr-bg-darker: #161616;
    --clr-bg-light: #3b3b3b;

    --clr-accent: #00ffff;
    --clr-accent-modest: #00e2e2;
}

html {
    font-family: var(--ff-content);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;

    max-width: 100%;
    overflow-x: hidden;
}

article {
    margin: 2em 1em;

    display: grid;
    place-items: center;

    font-size: clamp(1rem, 4vw, 1.325rem);
} article > p {
    margin-top: 1em;
    text-align: justify;
    max-width: 65ch;
} article > p:first-child {margin-top: 0;}

img {width: 100%;}



/* Navigation bar */
header {
    background-color: var(--clr-bg-darker);
    border-bottom: 1px solid var(--clr-accent);

    grid-template-rows: 60px;

    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;

    text-align: center;
}

.logo {
    font-family: var(--ff-logo);
    margin: 0.2em 0;
}

nav {
    background-color: var(--clr-bg-darker);
    border-bottom: 1px solid var(--clr-accent);

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    text-align: left;
} nav ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
} nav li {
    margin-bottom: 1em;
    margin-left: 1em;
} nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    
    opacity: 0;
    transition: opacity 150ms ease-in-out;
} nav a:hover {color: var(--clr-accent);} 
.active {color: var(--clr-accent);}

.nav-toggle {display: none;}
.nav-toggle:checked ~ nav {transform: scale(1, 1);}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    margin-left: 1em;
} .nav-toggle-label:hover {cursor: pointer;}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background-color: white;

    display: block;
    position: relative;
    height: 2px;
    width: 2em;
    z-index: 777;

    transition: 250ms;
    border-radius: 2px;
} 

.nav-toggle-label:hover > span,
.nav-toggle-label:hover > span::before,
.nav-toggle-label:hover > span::after {
    background-color: var(--clr-accent);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {bottom: 8px;}
.nav-toggle-label span::after {top: 8px;}



/* Main Content */
.main-grid {margin-top: 60px;}


/* Baner */
.main-baner {
    padding: 1em;

    display: grid;

    background: rgba(0, 0, 0, 0.2) url('../img/baner.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
} .main-baner video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.main-baner h2, h3, p {z-index: 10;} 
.main-baner h2 {
    font-size: clamp(1rem, 6vw, 3rem); 
    margin: 0;
    text-align: left;
    width: 70%;
}
.main-baner h3 {
    text-transform: uppercase;
    font-size: clamp(0.5rem, 40vw, 1.2rem);
    letter-spacing: 0.15rem;
    margin: 1em 0 0.5em 0;
}

.main-baner p {
    text-align: justify;
    margin-bottom: 2rem;
    max-width: 65ch;
}


.link-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: none;

    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background-color: var(--clr-bg-dark);
    transition: 150ms ease-in-out 50ms;

    position: relative;
}


.link-btn:hover {
    color: var(--clr-text);
    text-shadow: 1px 1px gray;

    border: 1px solid var(--clr-accent);
    background: transparent;
} .link-btn::before {
    content: '';
    background-color: var(--clr-accent);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;

    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
} .link-btn:hover::before {transform: scale(0, 1);}
.link-btn:first-child:hover::before {transform: scale(1, 1);}
.buttons-group {
    display: flex;
    justify-content: space-between;

    z-index: 10; 
    gap: 1em;
}

.fa {
    width: 55px;
    padding: 1.250rem 1rem;

    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    font-style: bold;
    color: white;

    /* border-radius: 100%; */
} .fa:hover {opacity: 0.7;}

.fa-facebook {background: #3B5998;} 
.fa-twitter {background: #55ACEE;} 
.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}



/* Cards section */
.card {    
    text-align: center;    
    position: relative;

    cursor: pointer;
    transition: 150ms ease-in-out;
}
.card:focus,
.card:hover {cursor: default;} 
.card:hover > a {color: black;}
.card:hover > a::before {transform: scale(1, 1);}

.cards {
    position: relative;
    z-index: 10;

    margin: 0 0;
    padding: 1em 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    background-color: var(--clr-bg-dark);
} .cards > * {
    flex-basis: calc(1200px - 100%);
    flex-grow: 0.375;
} 

.card a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-text);

    font-size: clamp(1rem, 20vw, 2rem);
    position: relative;
} .card a::before {
    content: '';
    background-color: black;

    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    right: 0;
    height: 3px;

    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 150ms;
} 

.card img {
    border-radius: 1em;
    object-fit: cover;
    height: 380px;
   /* width: auto; */
} .card img:hover {
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 1);
}

.card-desc p {
    text-align: justify;
}


/* Team slides cards */
.swiper {
    width: 100%;
    height: 100%;
} .swiper-slide {
    padding: 1rem;
    margin-top: 3rem;
} .swiper-pagination-progressbar-fill {
    background-color: var(--clr-accent) !important;
} .swiper-button-next, .swiper-button-prev {
    color: var(--clr-accent) !important;
}



.triton-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    
    padding: 2rem 0;
} .triton-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    
    box-shadow: var(--clr-bg-darker);
} .triton-card img {
    width: 360px;
    height: 540px;
    
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
} .triton-card .bottom {
    margin: 0;
    padding: 0.75rem 1rem;

    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 360px;
    
    z-index: 10;
} .triton-card .bottom h2 {
    margin: 0;
    padding: 0;

    font-weight: 600;
    text-shadow: var(--clr-bg-darker);
} .triton-card .bottom p {
    margin: 0;
    padding: 0;

    font-weight: 600;
    text-shadow: var(--clr-bg-darker);
} 


.info-card {position: relative;} 
.info-card .desc {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    padding: 1rem 2rem;

    width: 100%;
    height: 100%;

    text-align: start;
    background-color: var(--clr-bg-darker);
    transition: 250ms;

    border-top-right-radius: 0.45rem;
    border-top-left-radius: 0.45rem;
} 
.info-card .desc p {height: 80%; overflow: hidden; text-overflow: clip;}
.info-card .triton-card:hover ~ .desc {display: block;}
.desc:hover {display: block;} 
a {
    color: var(--clr-text);
    text-decoration: none;
}



.team-slider {
    display: none;
    flex-direction: row;
    justify-content: center;

    margin: 5em 0;

    gap: 3em;
} .team-card {
    width: 90%;
    display: flex;
    flex-direction: column;

} .team-card .top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../img/team-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border: 1px solid var(--clr-icons);
    border-bottom: none;
    
    /* height: 55%; */
    height: 18.5rem;

} .team-card .top img {
    width: 200px;
} .team-card .bottom {
    padding: 0 2rem 4rem 2rem;

    background-color: var(--clr-bg-dark);
    
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1px solid var(--clr-icons);
} .team-card .bottom h2 {
    font-size: clamp(1rem, 8vw, 2.25rem); 
    /* margin: 0; */
    text-align: left;
}


.snd-btn {
    border: 1px solid var(--clr-accent);
    border-radius: 0.25rem;

    background: none;
    padding: 0.5rem 1rem;
    color: var(--clr-accent);
    font-weight: 600;
    transition: 250ms;
} .snd-btn:hover {
    color: var(--clr-text);
    cursor: pointer;
    background-color: var(--clr-bg-darker);
    transition: 250ms;
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--clr-bg-darker);
    margin-bottom: 2em;
} .footer-right {
    /* width: 30%; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-bottom: 1em;
}footer h2 {
    font-family: var(--ff-logo);
    font-size: clamp(2rem, 4vw, 3rem);
} footer .form {
    line-height: 1; 
    text-align: center;
} footer .address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
} footer address p {font-weight: 800;}

footer .mini-menu {display: none;}
footer .mini-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-around; */

    margin: 0;
    padding: 1em 0;
}
footer .mini-menu ul li {
    list-style: none;
    margin: 0.25em 0;
} footer .mini-menu ul li a {
    text-decoration: none;
    color: var(--clr-accent);
    transition: 150ms ease-in-out;
} 
footer .mini-menu ul li a:focus,
footer .mini-menu ul li a:hover {
    color: var(--clr-text);
}

footer .input-group {
    display: flex;
    flex-direction: column;
}

footer .input-group input {
    display: block;
    width: 100%;

    background-clip: padding-box;
    border: 1px solid var(--clr-accent);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background-image: initial;
    background-color: rgb(30, 36, 52);

    margin: 0 10px 10px 10px;
    background: var(--clr-bg-darker);

    height: 38px;
    font-size: 12px;
    /* color: rgb(255 255 255 / 60%); */
    color: var(--clr-text);
    padding: 0 21px;
} footer .input-group input::placeholder {
    color: var(--clr-accent-modest)
}