@media screen and (min-width: 800px) {
    .main-baner {
        padding: 10em 5em;
        place-items: start;
        background-attachment: fixed;
        } .main-baner video {display: block;}

    .main-baner h2 {
        width: 50%;
    }

    .cards {
        margin: 2em 0;
        padding: 3em 1em;
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 2em;

        margin-bottom: 2em;
    } .row > * {width: 31%;}

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px) {
    .nav-toggle-label {display: none;}

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {grid-column: 1 / 2;}

    .main-baner {
        padding: 15em 5em;
        place-items: start;

    }
    
    nav {
        all: unset;
        grid-column: 3 / 4;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    } nav ul {
        display: flex; margin: 0;
    } nav li {
        margin-left: 3em;
        margin-bottom: 0;
    } nav a {
        opacity: 1;
        position: relative;
    } nav a::before {
        content: '';
        background-color: var(--clr-accent);

        display: block;
        position: absolute;
        top: 1.25em;
        left: 0;
        right: 0;
        height: 3px;

        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    } nav a:hover::before {transform: scale(1, 1);}

    .cards {
        gap: 5em;
    }


    .swiper {
        display: none;
    }
    .team-slider {
        display: flex;
    } .team-card {
        flex-basis: calc(1200px - 100%);
        flex-grow: 0.205;
    }

    .triton-team {
        gap: 3em;
        flex-direction: row;
        justify-content: center;
    }
    .triton-card {
        flex-basis: calc(1200px - 100%);
        flex-grow: 0.205;
    }

    footer .mini-menu {
        display: inline;
    } footer .mini-menu a {
        opacity: 1;
        position: relative;
    } footer .mini-menu a::before {
        content: '';
        background-color: var(--clr-accent);

        display: block;
        position: absolute;
        top: 1.25em;
        left: 0;
        right: 0;
        height: 3px;

        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    } footer .mini-menu a:hover::before {transform: scale(1, 1);}
    footer .footer-right {
        width: 33%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 5em;
    } footer .input-group {
        display: flex;
        flex-direction: row;
    }
}